
@{
    ViewData["Title"] = "index";
}

@model CaseListViewModel
<h1>knknk</h1>

        @foreach (var case1 in Model.Cases)
        {
         <h1>Hi</h1>
        }
        <br>
        <a class="btn btn-primary" controller="Home" asp-action="Create">
            Add New Phone
        </a>






