@{
    ViewData["Title"] = "Home Page";
}

<body>

 

    <header class="masthead text-center text-white" >
        <div class="masthead-content" ">
            <div class="container">
                <h1 class="masthead-heading mb-0" style="padding-top:100px;">Welcome to...</h1>
                <h2 class="masthead-subheading mb-0">Bellews Phone Shop</h2>
                <a class="btn btn-primary" asp-area="" asp-controller="Phone" asp-action="List">Browse Phones</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="https://lh3.googleusercontent.com/proxy/tWsfzKs7_8Y0fzdiIv_R2YZBpMh2oKbCR2lAwOltP2maxTPpnB5GLbqHT7B7UptrF5lrj0gTQysC7m7GK8T12ldyAzURUOwxIsHuB_I5F91kyPjwkLKpN0sR" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Browse the latest SmartPhones</h2>
                        <p>All the latest smartphones are in store and ready to purchase at competitve prices</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="https://images.samsung.com/africa_en/smartphones/galaxy-s21/buy/galaxy-s21-phantom-violet.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">Unbeatable Prices !</h2>
                        <p>Are Phones are Refurbrished and are all kept up to our standards to deliver a price that is unbeatble anywahere in the market</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="https://cdn.3g.co.uk/userfiles/guides/e/Best-Camera-Smartphones.jpg?v=0.1" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Quality Matters !</h2>
                        <p>We amke sure that every phone that we sell is met up to our standards
                        and that no phone sold is ever below these standards
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>

</html>